<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

<body>

<header th:replace="layout/layout :: header"></header>

    <div class="container py-4">

        <div class="card bg-danger text-white panel-shadow-red-2">
            <div class="card-header" th:text="'Error: Acceso Denegado!!!'"></div>
            <div class="card-body">
                <h5 class="card-title"> Lo sentimos
                    <span th:text="${#httpServletRequest.remoteUser}"></span>, NO tienes permisos para acceder a este recurso.
                </h5>
                <a th:href="@{/}" class="btn btn-outline-light" role="buton">
                    <span th:text="${#strings.capitalize(#authentication.name)}"></span> porfavor Ir al Inicio
                </a>
            </div>
        </div>

    </div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>