<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="modalChangePassword">
        <form id="form_change_password_modal" th:action="@{/usuario/cambiar-password}" th:object="${usuario}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title text-light" id="exampleModalLabel"><i class="fas fa-key"></i> Cambiar Contraseña</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body color-metal">

                        <div class="form-group row">
                            <label for="passwordModal" class="col-form-label col-sm-4">Contraseña: </label>
                            <div class="col-sm-6">
                                <input type="password" id="passwordModal" th:field="*{password}" class="form-control form-control-sm" th:errorclass="'form-control form-control-sm alert-danger is-invalid'" autocomplete="off">
                            </div>
                            <!--<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-danger"></small>-->
                            <small id="mensaje-error-password-modal" class="ml-3 form-text text-danger"></small>
                        </div>
                        <div class="form-group row">
                            <label for="confirmPasswordModal" class="col-form-label col-sm-4">Confirmar: </label>
                            <div class="col-sm-6">
                                <input type="password" id="confirmPasswordModal" th:field="*{confirmPassword}" class="form-control form-control-sm" th:errorclass="'form-control form-control-sm alert-danger is-invalid'" autocomplete="off">
                            </div>
                            <!--<small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="form-text text-danger"></small>-->
                            <small id="mensaje-error-confirm-password-modal" class="ml-3 form-text text-danger"></small>
                        </div>

                    </div>
                    <div class="modal-footer bg-dark text-white">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <!-- <button type="submit" class="btn btn-primary">Guardar</button> -->
                        <input id="btnChangePassword" type="submit" th:value="${'Guardar Password'}" class="btn btn-secondary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>