<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

<body>

<header th:replace="layout/layout :: header"></header>

    <div class="container-fluid py-4">

        <div class="jumbotron bg-dark text-white border border-secondary">
            <h3 th:text="${titulo}"></h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non odio at felis tempus venenatis eu ut turpis. Phasellus vel iaculis lacus, et tincidunt libero.</p>
            <hr class="my-4">
            <p>Aliquam erat volutpat. Pellentesque nulla sapien, aliquet nec venenatis quis, hendrerit non turpis. Etiam ac bibendum turpis.</p>
            <a class="btn btn-secondary btn-lg" th:href="@{/funcionario/listar}" role="button" th:text="Funcionarios"></a>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card shadow p-0 mb-5 rounded border border-secondary">
                    <div class="card-header bg-dark text-white font-weight-bold text-xl-center">
                        <h3 class="card-title text-uppercase">Lorem</h3>
                    </div>
                    <div class="card-body color-metal text-white">
                        <p class="card-text text-justify">
                            Cras ut metus eu ante fringilla aliquet. Sed malesuada et metus quis molestie. Vestibulum eu nisi volutpat, vulputate urna et, cursus metus. Morbi lectus est, hendrerit a lectus ac, tempus hendrerit magna. Donec odio dolor, hendrerit non metus in, laoreet semper erat. Pellentesque at nulla leo. Curabitur neque ante, imperdiet vel ornare at, commodo a erat. Integer dictum urna massa, faucibus scelerisque justo consequat non metus sit amet erat.
                        </p>
                        <br>
                        <hr class="featurette-divider">
                        <p>
                            <a class="btn btn-secondary float-left" href="#" role="button">Ver detalle &raquo;</a>
                            <a class="btn btn-dark float-right" href="#" role="button">Otro &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow p-0 mb-5 rounded border border-secondary">
                    <div class="card-header bg-dark text-white font-weight-bold text-xl-center">
                        <h3 class="card-title text-uppercase">Ipsum</h3>
                    </div>
                    <div class="card-body color-metal text-white">
                        <p class="card-text text-justify">
                            Morbi venenatis metus non tempor vestibulum. Suspendisse convallis arcu non sapien ullamcorper, et lacinia est euismod. Maecenas sed gravida mauris. Nam tristique vehicula ex eget eleifend. Vestibulum tempor purus sit amet ullamcorper euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec aliquet magna interdum dui hendrerit, a porta justo interdum. Pellentesque maximus cursus metus sit amet ornare.
                        </p>
                        <br>
                        <hr class="featurette-divider">
                        <p>
                            <a class="btn btn-secondary float-left" href="#" role="button">Ver detalle &raquo;</a>
                            <a class="btn btn-dark float-right" href="#" role="button">Otro &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow p-0 mb-5 bg-white rounded border border-secondary">
                    <div class="card-header bg-dark text-white font-weight-bold text-xl-center">
                        <h3 class="card-title text-uppercase">Sit Amet</h3>
                    </div>
                    <div class="card-body color-metal text-white">
                        <p class="card-text text-justify">
                            In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac pharetra massa. Vestibulum non sem eu libero iaculis tristique et at tortor. Nunc tincidunt condimentum turpis, quis suscipit eros sagittis eu. Morbi aliquet nulla est, ac varius magna convallis non. Donec sagittis vestibulum magna. Mauris lacinia luctus bibendum. Nam lobortis, odio in condimentum fermentum, ex justo volutpat magna, ac suscipit enim nulla.
                        </p>
                        <br>
                        <hr class="featurette-divider">
                        <p>
                            <a class="btn btn-secondary float-left" href="#" role="button">Ver detalle &raquo;</a>
                            <a class="btn btn-dark float-right" href="#" role="button">Otro &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow p-0 mb-5 rounded border border-secondary">
                    <div class="card-header bg-dark text-white font-weight-bold text-xl-center">
                        <h3 class="card-title text-uppercase">Donec</h3>
                    </div>
                    <div class="card-body color-metal text-white">
                        <p class="card-text text-justify">
                            Nullam sit amet risus ac dolor congue ultricies. Donec ac interdum risus. Aenean nec sem ut elit dignissim sollicitudin ut eget lacus. Suspendisse id nisl eros. In laoreet augue id euismod tristique. Donec commodo a sem vitae congue. Mauris ut dui volutpat, porta nisl eu, semper tellus. Nullam egestas dapibus lacus id pharetra. Aliquam pulvinar, erat at vestibulum consequat, sapien erat dictum arcu, non luctus erat libero vel eros.
                        </p>
                        <br>
                        <hr class="featurette-divider">
                        <p>
                            <a class="btn btn-secondary float-left" href="#" role="button">Ver detalle &raquo;</a>
                            <a class="btn btn-dark float-right" href="#" role="button">Otro &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>